@import 'mixin';
@import 'variables';

.cards {
    padding: 1em;

    &__content {
        max-width: $max-w;
        margin: auto;
    }

    &__title {
        color: #1F2937;
        font-size: 36px;
        font-weight: bolder;
        text-align: center;
    }

    @include media-query($tablet){
        &__content{
            display: grid;
            grid-template-columns: auto auto;
        }

        &__title {
            grid-column: 1 / span 2;
        }
    }
    
    @include media-query($laptop){
        min-height: $max-h;

        &__content{
            display: flex;
            flex-wrap: wrap;
        }

        &__title {
            width: 100%;
        }
    }

}