@import 'mixin';
@import 'variables';

.cards {
    padding: 1em;

    &__title {
        color: #1F2937;
        font-size: 36px;
        font-weight: bolder;
        text-align: center;
    }

    @include media-query($tablet){
        display: grid;
        grid-template-columns: auto auto;

        &__title {
            grid-column: 1 / span 2;
        }
    }

}