@import 'mixin';
@import 'variables';

.cta {
    color: #E5E7EB;

    &__content {
        background-color: #3882F6;
        border-radius: .3em;
        max-width: $max-w;
        width: calc(100% - 2em);
        margin: 1em auto;
        box-sizing: border-box;
        padding: 1em;
        display: flex;
        flex-direction: column;
    }

    &__text {
        margin-bottom: 1em;
    }

    &__button {
        color: #FAF9F8;
        border: 2px solid #FAF9F8;
        font-weight: bold;
        padding: .4em 1.5em;
        text-decoration: none;
        border-radius: .3em;
        margin: auto;
    }

    &__em-text {
        color: #FAF9F8;
        font-weight: bolder;
    }

    @include media-query($tablet){

        &__content {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: .5em 1em;
            margin: 3em auto;
        }

        &__button {
            margin: 0;
        }
        
    }

    @include media-query($laptop){
        min-height: $max-h;
        display: flex;
        align-items: center;

        &__content {
            padding: 2em 5em;
        }
    }
}