.header {
    background-color: var(--dark-bg-color);
    padding: 1em;

    &__title {
        color: #FAF9F8;
        font-size: 48px;
        font-weight: bolder;
        text-align: center;
    }
    
    &__text {
        font-size: 18px;
        color: #E5E7EB;
    }
    
    &__button {
        background-color: #3882F6;
        color: #FAF9F8;
        font-weight: bold;
        padding: .4em 1.5em;
        text-decoration: none;
        border-radius: .3em;
        
    }
    &__img {
        background-color: grey;
        height: max(250px, 35vw);
        color: #E5E7EB;
        display: grid;
        place-content: center;
        margin-top: 1em;
    }
}