.quote {
    background-color: #E5E7EB;
    padding: 1em;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        font-size: 36px;
        font-style: italic;
    }
    &__author {
        font-size: 24px;
        font-weight: bolder;
        margin-left: auto;
    }
}