:root {

    --dark-bg-color: #1F2937; //hero and footer
    --font-color: #F9FAF8;
    --hero-font: 48px bolder;
}



$max-w: 1000px;
$max-h: 300px;
$min-tablet: 426px;
$min-laptop: 769px;
$min-desktop: 1025px;
$tablet: "(min-width: #{$min-tablet})";
$laptop: "(min-width: #{$min-laptop})";
$desktop: "(min-width: #{$min-desktop})";